body {
  text-align: center;
  margin: 0px;
  font-family: 'Merriweather', serif;
  background-color: #d3dbff;
  color: #251f44;
}
.top {
  background-color: #d3dbff;
  padding-top: 7%;
  color: #fe91ca;
}
hr {
  border-style: dotted none none;
  border-color: #7579e7;
  border-width: 7px;
  width: 7%;
}
.profile {
  width: 50%;
  margin: auto;
}
h1 {
  font-size: 450%;
  font-family: 'Sacramento', cursive;
  margin: 0 0 0 0;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  color: #fe91ca;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  color: #fe91ca;
}
.cloud1 {
  position: absolute;
  top: 7%;
  right: 10%;
}
.cloud2 {
  position: absolute;
  top: 20%;
  left: 12%;
}
.head {
  margin-top: 0px;
  margin-bottom: 0px;
}
.heading {
  color: #251f44;
  font-size: 230%;
}
#proimg {
  border-radius: 98%;
border: 10px solid #251f44;
}
.img1 {
  float: left;
  width: 25%;
  background-color: #251f44;
  border-radius: 120%;
  border: 10px solid #251f44;
  margin-right: 30px;
}
.img2 {
  float: right;
  width: 25%;
  background-color: #251f44;
  border-radius: 120%;
  border: 10px solid #251f44;
  margin-left: 30px;
}
.skills {
  margin: auto;
  width: 50%
}
.skill-rowl {
  text-align: left;
  margin: 50px auto 50px auto;
}
.skill-rowr {
  text-align: left;
  margin: 50px auto 50px auto;
}
.email-me {
  text-align: center;
  padding-top: 0;
  width: 50%;
  float: left;
}
.inp {
  margin: 3px;
  width: 80%;
  height: 30px;
}
.btn {
  background-color: #fe91ca;
  margin: 20px;
  border: none;
  color: #251f44;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background: #fe91ca;
 background-image: -webkit-linear-gradient(top, #fe91ca, #ffe0f7);
 background-image: -moz-linear-gradient(top, #fe91ca, #ffe0f7);
 background-image: -ms-linear-gradient(top, #fe91ca, #ffe0f7);
 background-image: -o-linear-gradient(top, #fe91ca, #ffe0f7);
 background-image: linear-gradient(to bottom, #fe91ca, #ffe0f7);
 -webkit-border-radius: 10;
 -moz-border-radius: 10;
 border-radius: 10px;
}
.btn:hover {
  background: #d3dbff;
  background-image: -webkit-linear-gradient(top, #ffe0f7, #fe91ca);
  background-image: -moz-linear-gradient(top, #ffe0f7, #fe91ca);
  background-image: -ms-linear-gradient(top, #ffe0f7, #fe91ca);
  background-image: -o-linear-gradient(top, #ffe0f7, #fe91ca);
  background-image: linear-gradient(to bottom, #ffe0f7, #fe91ca);
  text-decoration: none;
}
.contact-me {
  position: relative;
}
.contact {
  padding-left: 50%;
  text-align: left;
  line-height: 2;
}
.sof {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.icon {
  width: 20px;
}
.bottom {
  margin-top: 50px;
}
.experience {
  position: relative;
}
.academic {
  list-style-image: url('../Images/education.png');
}
.acad {
  display: inline-block;
  background-color: #ffe0f7;
  border-radius: 5%;
  width: 40%;
  position: absolute;
  left: 5%;
  text-align: left;
}
.industrial {
  list-style-image: url('../Images/office-table.png');
}
.ind {
  display: inline-block;
  background-color: #ffe0f7;
  width: 40%;
  border-radius: 5%;
  position: absolute;
  right: 5%;
  text-align: left;
}
.light {
  color: #251f44;
  margin-top: 0;
  margin-bottom: 0;
}
.light1 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #fe91ca;
}
.project {
  display: inline-block;
  width: 30%;
  height: 250px;
  background-color: #ffe0f7;
  margin: 10px;
}
.pro-img {
  border: 10px solid #251f44;
  width: 300px;
  height: 150px;
  margin-top: 20px;
}
.caption {
  margin-top: 10px;
  color: #fe91ca;
  font-size: 20px;
  text-decoration: none;
}
.caption:hover {
  color: #f9c0c0;
}
.insta {
  position: absolute;
  width: 2.5%;
  right: 2%;
  bottom: 26%;
}
.fb {
  position: absolute;
  width: 2.5%;
  right: 2%;
  bottom: 19%;
}
.linin {
  position: absolute;
  width: 2.5%;
  right: 2%;
  bottom: 12%;
}
.git {
  position: absolute;
  width: 2.5%;
  right: 2%;
  bottom: 5%;
}
.copy {
  font-size: .75rem;
  color: #251f44;
}
.himg {
  float: left;
  width: 50px;
  padding: 0px 5px 0 10px;
}
.headerr {
  position: fixed;
  background-color: #d3dbff;
  text-align: right;
  padding: 20px 20px 0 20px;
  font-size: 18px;
  width: 100%;
  z-index: 1;
}
.nav {
  color: #fe91ca;
  font: 1000px;
  text-decoration: none;
  margin: 30px;
}
.nav:hover {
  color: #f9c0c0;
}
.nav:active{
  color: #f9c0c0;
}
